body {
    background-image: url('https://ameusherbrooke.files.wordpress.com/2016/11/cropped-dscn3400.jpg');
    min-height: 100%;
    background-size: cover;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}